$color_main: #556677;
$color_sub: #aabbcc;
$color_base: #efefef;
$color_text: #333;
$color_link: #0000ff;
$color_grey: #aaaaaa;
$color_grey_light:#eeeeee;
$color_light: #fafafa;
$color_white: #ffffff;