@use '../../foundation/setting' as *;

.c-button {
  // コンポーネント本体には共通のスタイルのみ
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  // Modifier
  &--primary {
    background-color: $c-primary;
  }
  &--secondary {
    background-color: $c-secondary;
  }
  &--full-width {
    display: block;
    width: 100%;
  }
}