@use '../foundation/setting' as *;

.l-footer{
  margin-top: 70px;
  background-color: $c-main;
  &__content{
    text-align: center;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__copyright{
    color: #fff;
  }
}