@use '../foundation/setting' as *;

.l-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: $c-base;
  @include mq {
    height: 90px;
  }
  &__inner {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    padding: 20px;
    @include mq {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 70px;
    }
  }
  &__logo {
    position: relative;
  }
  &__logo-img{
    display: block;
    height: 21px;
    @include mq{
      height: 32px;
    }
  }
  &__hamburger{
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background-color: $c-main;
    cursor: pointer;
    z-index: 10;
    @include mq{
      display: none;
    }
  }
  &__hamburger-line{
    position: absolute;
    top: 29px;
    right: 16px;
    width: 26px;
    height: 2px;
    border-radius: 5px;
    background-color: $c-base;
    &:nth-child(1){
      top: 21px;
    }
    &:nth-child(3){
      top: 37px;
    }
    &.is-open{
      top: 29px;
      transform: rotate(45deg);
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg);
      }
    }
  }
  &__nav{
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding: 60px 40px;
    background-color: $c-main;
    z-index: 9;
    &.is-open{
      transform: translateX(-200px);
    }
    @include mq {
      position: inherit;
      top: auto;
      right: auto;
      width: auto;
      height: auto;
      padding: 0;
      background-color: $c-base;
    }
  }
  &__list {
    padding-top: 40px;
    @include mq{
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 0;
    }
  }
  &__item{
    margin-bottom: 24px;
    @include mq{
      margin-bottom: 0;
      margin-left: 30px;
    }
  }
  &__link{
    color: #fff;
    @include mq{
      color: initial;
    }
    &.is-now{
      color: $c-main-light;
      @include mq{
        color: $c-main;
      }
    }
  }
}
