// mixinとかfunctionとかを@useでインポート
@use '../../foundation/setting' as *;

// @extendのやつ
%p-top-inner{
  width: 100%;
  max-width: $inner-width;
  padding: 0 5%;
}
%p-top-heading{
  margin-bottom: 20px;
  padding: 0 0 10px 10px;
  border-bottom: 2px solid $c-main;
  font-size: rem(20px);
  @include mq{
    font-size: rem(24px);
  }
}

// スタイル
.p-top-mv {
  margin-bottom: 80px;
  &__inner {
    width: 100vw;
    height: 460px;
    @include mq{
      height: 600px;
    }
  }
  &__heading {
    font-size: rem(32px);
  }
  &__mv {
    width: 100%;
  }
}

.p-top-news {
  margin-bottom: 80px;
  &__inner {
    @extend %p-top-inner;
  }
  &__heading {
    @extend %p-top-heading;
  }
  &__button{
    margin-top: 16px;
    text-align: center;
  }
}

.p-top-works{
  margin-bottom: 80px;
  &__inner{
    @extend %p-top-inner;
  }
  &__heading{
    @extend %p-top-heading;
    padding: 0 10px 10px 0;
    text-align: right;
  }
  &__tabs{
    display: flex;
  }
  &__tab{
    width: 100%;
    padding: 5px 10px;
    background-color: #d9d9d9;
    text-align: center;
    cursor: pointer;
    &.is-active{
      background-color: $c-main;
      color: #fff;
      font-weight: bold;
    }
  }
  &__panels{
    border: 1px solid $c-main;
    padding: 30px;
  }
  &__panel{
    display: none;
    &.is-active{
      display: block;
    }
  }
}