@use '../../foundation/setting' as *;

.p-top-mv {
  &__inner {
    width: $inner-width;
  }
  &__heading {
    font-size: rem(32px);
  }
  &__mv {
    width: 100vw;
  }
}

.p-top-about {
  &__inner {
    width: $inner-width;
  }
  &__heading {
    font-size: rem(24px);
  }
  &__button{
    margin-top: 16px;
    text-align: center;
  }
}